* {
    box-sizing: border-box;
    font-family: 'Corben', sans-serif;
}
.boton {
    color: #ffffff;
    font-family: 'Corben', sans-serif;
    font-size: 20px;
    text-align:justify;
    margin: 50px;
    border-radius: 30%;
    padding: 1px;
    box-shadow: 0, 5px 10px rgba(0, 0, 0, 0.308);
}
.boton a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 7px rgb(255, 0, 0),
                0 0 10px rgb(255, 0, 0);
    text-decoration: underline;
}
body {
    background: #181818;
    color: white;
    font-family: 'Corben', sans-serif;
    padding: 0 1.8em;
}
.contenedor {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.logo {
    text-align: center;
    font-size: 3em;
    text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
.logo span {
    color: red;
    text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
.coctacto-contenedor {
    box-shadow: 0 0 20px 0 rgba(73, 73, 73, 0.3);
}
.coctacto-contenedor > * {
    padding: 1em;
}
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    background: #1d1b1be3;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.753);
}
.formulario .block { 
    grid-column: 1 / 3;
}
.formulario p {
    margin: 0;
    padding: 1em;
}

.informacion {
    background:#000;
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.753);
}

.formulario button,
.formulario input,
.formulario textarea {
    width: 100%;
    padding: 1.7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #d63031;
}
.formulario button {
    background: #b70e21;
    border: 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 15px;
}
.formulario button:hover,
.formulario button:focus {
   background: #d63031; 
   color: #ffffff;
   transition: background-color 1s ease-out;
}
.informacion h3,
.informacion ul,
.informacion p {
    text-align: center;
    margin: 0 0 1rem 0;
    padding: .6em;
}
.informacion ul {
    list-style: none;
    padding: 0;
}
.informacion ul li {
    padding: .3em;
}
.informacion i {
    margin: 15px;
}
.grupo1 {
    display: flex;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate( -50%, -50%);
}
.grupo1 i {
    text-align:justify;
    font-size: 40px;
    color:red;
    margin: 50px;
    border-radius: 30%;
    padding: 1px;
    box-shadow: 0, 5px 10px rgba(0, 0, 0, 0.308);
}
.fa-youtube:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 7px rgb(255, 0, 0),
                0 0 10px rgb(255, 0, 0);
}
.fa-facebook:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 7px rgb(255, 0, 0),
                0 0 10px rgb(255, 0, 0);
}
.fa-instagram:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 7px rgb(255, 0, 0),
                0 0 10px rgb(255, 0, 0);
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video {
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media (min-width: 700px) {
    body {
        padding:  0 4rem;
    }
    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .coctacto-contenedor > * {
        padding: 2em;
    }
}
